$color--blue: #0c69b0;
$color--curious-blue: #3190d9;
$color--deep-blue: #111122;

$color--red: #d82424;
$color--darkred: #ad1723;

$color--lightgray: #f5f5f5;
$color--mediumgray: #545459;
$color--darkgray: #212131;

$color--burgundy: #ad1723;
$color--vermillion: #d93900;
$color--orange: #ed8b00;
$color--amber: #f2ac33;
$color--yellow: #ffd700;
$color--lime: #b4d405;
$color--green: #00af53;
$color--turquoise: #00aca8;
$color--seablue: #005f7f;
$color--cyan: #00a3e0;
$color--indigo: #002f6c;
$color--violet: #3a397b;
$color--purple: #7a4183;
$color--cerise: #a71065;
$color--plum: #890c58;
$color--ruby: #b10040;
