$em-color--blue: #0c69b0;
$em-color--curious-blue: #3190d9;
$em-color--deep-blue: #111122;

$em-color--red: #d82424;
$em-color--darkred: #ad1723;

$em-color--lightgray: #f5f5f5;
$em-color--mediumgray: #545459;
$em-color--darkgray: #212131;

$em-color--burgundy: #ad1723;
$em-color--vermillion: #d93900;
$em-color--orange: #ed8b00;
$em-color--amber: #f2ac33;
$em-color--yellow: #ffd700;
$em-color--lime: #b4d405;
$em-color--green: #00af53;
$em-color--turquoise: #00aca8;
$em-color--seablue: #005f7f;
$em-color--cyan: #00a3e0;
$em-color--indigo: #002f6c;
$em-color--violet: #3a397b;
$em-color--purple: #7a4183;
$em-color--cerise: #a71065;
$em-color--plum: #890c58;
$em-color--ruby: #b10040;
