@import '../text';

$blue: (
  50: #e2edf6,
  100: #b6d2e7,
  200: #86b4d8,
  300: #5596c8,
  400: #3080bc,
  500: #0c69b0,
  600: #0a61a9,
  700: #0856a0,
  800: #064c97,
  900: #033b87,
  A100: #b3ceff,
  A200: #80adff,
  A400: #4d8cff,
  A700: #347cff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  ),
);
