@import '../utils/em-text';

$em-violet: (
  50: #e7e7ef,
  100: #c4c4d7,
  200: #9d9cbd,
  300: #7574a3,
  400: #58578f,
  500: #3a397b,
  600: #343373,
  700: #2c2c68,
  800: #25245e,
  900: #18174b,
  A100: #8b89ff,
  A200: #5956ff,
  A400: #2823ff,
  A700: #0f09ff,
  contrast: (
    50: $em-dark-primary-text,
    100: $em-dark-primary-text,
    200: $em-dark-primary-text,
    300: $em-light-primary-text,
    400: $em-light-primary-text,
    500: $em-light-primary-text,
    600: $em-light-primary-text,
    700: $em-light-primary-text,
    800: $em-light-primary-text,
    900: $em-light-primary-text,
    A100: $em-dark-primary-text,
    A200: $em-light-primary-text,
    A400: $em-light-primary-text,
    A700: $em-light-primary-text,
  ),
);
