@import '../text.scss';

$mountain-meadow: (
  50: #ecfdf3,
  100: #d1fae1,
  200: #a7f3c9,
  300: #6ee7ac,
  400: #34d38b,
  500: #0fa968,
  600: #05965c,
  700: #04784c,
  800: #065f3e,
  900: #064e34,
  950: #022c1e,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);
