@import '../utils/text';

$electric-violet: (
  50: #f2f0ff,
  100: #e9e4ff,
  200: #d5cdff,
  300: #b7a6ff,
  400: #9573ff,
  500: #763bff,
  600: #6814ff,
  700: #5900ff,
  800: #4b01d6,
  900: #3f03af,
  950: #240077
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);
