@import '../text';

$tory-blue: (
  50: #edf8ff,
  100: #d6eeff,
  200: #b5e3ff,
  300: #83d3ff,
  400: #49baff,
  500: #1f97ff,
  600: #0777ff,
  700: #015ff4,
  800: #084bc5,
  900: #0f4aa9,
  950: #0e2a5d,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  ),
);
