@import '../text';

$gold: (
  50: #ffffe7,
  100: #feffc1,
  200: #fffd86,
  300: #fff341,
  400: #ffe40d,
  500: #ffd500,
  600: #d19c00,
  700: #a67002,
  800: #89570a,
  900: #74470f,
  950: #442504
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  ),
);
